* {
  padding: 0;
  margin: 0;
} 

body {
  font-style: normal;
  font-family: Palatino, Times, Verdana, serif;
  font-size: 1em; 
  /*font: .8em "Trebuchet MS", Verdana, Arial, Sans-Serif; */ 
  background-color: #660000;

}

table {
   margin-left: auto;
   margin-right: auto;
}

a {
  text-decoration: none;
  color: #3B85CA;
}
a:hover { color: #000; }

div.wrap 
{
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  -khtml-border-radius: 20px;
  border-radius: 20px;
  /*margin: 20px auto;*/
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 700px;
  padding: 10px;
  background-color: #CCCC66;
  z-index: 1;
}

div.wrap-shadow {
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  -khtml-border-radius: 20px;
  border-radius: 20px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 0px;
  padding-left: 0px;
  padding-bottom: 5px;
  padding-right: 2px;
  width: 720px;
  background-color: black;
  z-index: 0;
}

div.result-set {
     margin-top: 2px;
     padding-top: 3px;
     margin-right: 0px;
     margin-left: 0px;
     margin-bottom: 0px;
     
}


#header 
{
  /*height : 90px;
  background-color : #000;*/
}

p { padding-top: 2px;  }

li { padding-top: 2px; }

ul li {
   position: relative;
   top: 0px;
   left: 10px;
}

ul li ul li {
   position: relative;
   top: 0px;
   left: 10px;
}

h2 { padding-top: 5px; padding-bottom: 5px; }

h3 { padding-top: 5px; padding-bottom: 5px; }

h1.header { 
        /*text-align: center;*/
  	text-shadow: gray 3px 3px 3px;
	padding-left: 10px; 
	padding-top: 12px; 
	font-size: 3em; 
	font-family: Arial, Helvetica, sans-serif;
	font-style: italic; 
	font-weight: bold;
	 
	color: #660000; }
a.header {  color: #FFF; text-decoration: none;}
h2.header { padding-left: 10px; padding-top: 0px; font-size: 19px; color: #FFE51E; }

div.menu {
  text-align: center;
  margin-top: 10px;
  font-size : 18px;
  font-weight: 600;
  border: 1px solid #ccc; 
  background: #eee;
}

a.menu {
  color : #3B85CA;
  text-decoration : none;
  padding: 10px;
}
a.menu:hover {
  color : #000;
}


div.content { 
  text-align: left;
  margin-top: 5px;
  padding: 10px;
  font-size: 14px;
}

tr:hover {
  font-weight: bold;
}

tr.even {
  background-color: #eee;
}

tr.odd {

}

h2.content { font-size: 15px; color : #444; }


#rssbox {
  
  background-color: #ddd;
}


#footer { 
  margin-top: 25px; 
  clear: both;
  text-align: center; 
  color: #777; 
}
